*{
    font-family: 'Inter' ,sans-serif;
    font-style: normal;
    margin: 0;
}
*before
*after {
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
body {
    width: 1440px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    width: 1280px;
    margin: 0 auto;
    display: flex;
}
/* Header */
header{
    display: flex;
    width: 1280px;
    height: 85px;
    align-items: center;
    justify-content: space-between;
}
.left-side {
    width: 655px;
    display: flex;
    justify-content: space-between;
}
/* Nav */
.nav {
    width: 467px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}
.nav-link{
    background: none;
    border: none;
}
.header-logo {
    font-size: 24px;
    font-weight: 600;
    background: none;
    border: none;
}
.right-side{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 158px;
    height: 37px;
    font-size: 14px;
    font-weight: 500;
}
.login-signup{
    max-width: 101px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    background: #7E3AF2;
    border-radius: 8px;
    color: white;
    border: none;
}
.login-signin{
    background: none;
    display: flex;
    align-items: center;
    border: none;
}
/* Intro */
.container-intro{
    width: 1280px;
    margin: 64px 80px;
    display: flex;
}
.left-content{
    width: 736px;
    height: 292px;
    padding: 62px 0;
}
.content-title{
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    color: #000;
}
.content-text{
    margin-top: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #6B7280;
}
.content-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 363px;
    height: 48px;
    margin-top: 40px;
}
.trial{
    font-size: 16px;
    padding: 12px 20px;
    background: #7E3AF2;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    border: none;
}
.FAQ{
    font-size: 16px;
    background: none;
    border-radius: 8px;
    font-weight: 500;
    border: 1px solid #E5E7EB;
    padding: 12px 20px;
}
.logos{
    height: 55px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 96px;
}
/* Features */
.features{
    width: 1440px;
    height: 1181px;
    background-color: #F9FAFB;
}
.features1{
    height: 455px;
    margin: 96px 80px 630px 80px;
}
.left-text{
    width: 608px;
    height: 404px;
}
.top-info{
    width: 608px;
    height: 151px;
}
.title{
    font-weight: 800;
    font-size: 36px;
    color: #111928;
}
.subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #6B7280;
    line-height: 30px;
    margin-top: 16px;
}
.list{
    width: 608px;
    height: 136px;
    padding: 32px 0 0;
}
.list-info{
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #111928;
}




